<div class="flex flex-col h-full">
    <div class="bg-[#fff] px-4">
        <div class="header mb-6">
            {{orderDetail.orderId}}
        </div>
    
        <div class="flex flex-col max-h-[500px] overflow-auto">
            @for (item of orderDetail.orderItems; track item) {
            <div class="mb-4">
                <div class="flex flex-row">
                    <div class="rounded-[50%] bg-[#ddd] overflow-hidden self-start">
                        <img src="{{item.productImage}}" alt="View Detail" class="w-14 h-14 object-contain">
                    </div>
                    <div class="ml-2 flex-1 flex flex-col">
                        <div class="flex flex-row justify-between items-center flex-wrap">
                            <span class="text-lg">{{item.productName}}</span>
                            <span class="text-sm text-[#ddd] font-medium">{{item.subCatalogName}}</span>
                        </div>
                        <div class="flex flex-col mt-[4px]">
                            <p>Quantity:   {{item.productQuantity}}</p>
                            <p>Total:   {{item.productQuantity}} x {{item.productPrice}} = {{item.productTotal}}</p>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="flex-auto bg-[#ddd]"></div>
    <div class="footer">
        <div class="flex flex-col">
            <div class="flex flex-row justify-between items-center">
                <span>Subtotal:</span>
                <span>{{orderDetail.subTotal | currency}}</span>
            </div>
            <div class="flex flex-row justify-between items-center">
                <span>Discount:</span>
                <span>20$</span>
            </div>
        </div>
        <div class="flex flex-row justify-end mt-4">
            <app-button className="btn-primary" (click)="close()">
                Close
            </app-button>
        </div>
    </div>
</div>