<div class="coupon-container">
  <div class="coupon-header flex flex-row items-center">
    <div class="img-container mr-4">
      <img src="https://hips.hearstapps.com/hmg-prod/images/kfc-potato-wedges-fries-1591890953.jpg?crop=0.502xw:1.00xh;0,0&resize=1200:*">
    </div>
    <p class="uppercase text-[#fff] font-medium text-base" style="word-spacing: 1px; letter-spacing: 1px; font-family: 'Montserrat', sans-serif;">Burger King</p>
  </div>
  <div class="coupon-body">
    <div class="p-4 flex flex-row justify-between items-center">
      <div class="">
        <p class="text-[#f9bb69] uppercase text-lg font-bold">25% Off</p>
        <p class="text-xs text-[#ddd]">Valid until 01-5-2024</p>
      </div>
      <div class="bg-[#f9bb69] text-[#fff] px-4 py-2 rounded-[20px]">
        Shop Now
      </div>
    </div>
  </div>
</div>