<div class="container">
    <nav class="navigation" [style.width.px]="collapsed === true ? 80 : 250">
        <div class="navigation-header flex">
        @if (collapsed) {
        <svg-icon [size]="40" 
                    [iconName]="'coreui-signet-white'">
        </svg-icon>
        } @else {
        <svg-icon [size]="180" 
                    [iconName]="'coreui-angular'"
                    [wSizeIsHSize]="false"
                    [hSize]="50">
        </svg-icon>
        }
        </div>
        <ul class="navigation-body flex flex-col justify-start items-start gap-6 mt-4 mb-4">
            <li><a routerLink="">
                <span class="icon"><ion-icon name="speedometer-outline"></ion-icon></span>
                <span class="title">Dashboard</span>
            </a></li>

            <p class="uppercase">Theme</p>
            <li><a routerLink="">
                <span class="icon"><ion-icon name="water-outline"></ion-icon></span>
                <span class="title">Colors</span>
            </a></li>
            <li><a routerLink="">
                <span class="icon"><ion-icon name="pencil-outline"></ion-icon></span>
                <span class="title">Typography</span>
            </a></li>

            <p class="uppercase">Components</p>
            <li><a routerLink="">
                <span class="icon"><ion-icon name="extension-puzzle-outline"></ion-icon></span>
                <span class="title">Base</span>
            </a></li>
            <p class="uppercase">Extras</p>
            <li><a routerLink="">
                <span class="icon"><ion-icon name="star-outline"></ion-icon></span>
                <span class="title">Pages</span>
            </a></li>
            <p class="uppercase mt-5">Links</p>
            <li><a routerLink="">
                <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span>
                <span class="title">Docs</span>
            </a></li>
            <li><a routerLink="">
                <span class="icon"><ion-icon name="layers-outline"></ion-icon></span>
                <span class="title">Try Core UI PRO</span>
            </a></li>
            <li><a routerLink="">
                <span class="icon"><ion-icon name="layers-outline"></ion-icon></span>
                <span class="title">Try Core UI PRO</span>
            </a></li>
            <li><a routerLink="">
                <span class="icon"><ion-icon name="layers-outline"></ion-icon></span>
                <span class="title">Try Core UI PRO</span>
            </a></li>
            <li><a routerLink="">
                <span class="icon"><ion-icon name="layers-outline"></ion-icon></span>
                <span class="title">Try Core UI PRO</span>
            </a></li>
            <li><a routerLink="">
                <span class="icon"><ion-icon name="layers-outline"></ion-icon></span>
                <span class="title">Try Core UI PRO</span>
            </a></li>
        </ul>
        <div class="navigation-footer clear-fix">
            <span class="float-right" (click)="toggleCollapse()">
            @if (collapsed) {
            <ion-icon name="arrow-forward-outline"></ion-icon>
            } @else {
            <ion-icon name="arrow-back-outline"></ion-icon>
            }
            </span>
        </div>
    </nav>
</div>