<div class="my-hover-display absolute h-full w-auto bg-tailwick-background-dark text-tailwick-gray-text">    
    <div class="flex flex-col gap-4 h-full px-4">
        <a routerLink="hello">
            <img src="../../../../assets/images/coreui-signet-white.svg" width="80" height="80">
            <svg-icon [size]="80" 
                      [iconName]="'coreui-angular'">
            </svg-icon>
            <i class="fas fa-home"></i>
        </a>
        <a routerLink="hello">
            <i class="fas fa-home"></i>
        </a>
        <a routerLink="hello">
            <i class="fas fa-home"></i>
        </a>
        <a routerLink="hello">
            <i class="fas fa-home"></i>
        </a>
    </div>
</div>

<div class="to-display hidden absolute h-full w-[200px] bg-tailwick-background-dark text-tailwick-gray-text">
    <div class="flex flex-col gap-4 h-full px-4">
        <a routerLink="hello">
            <i class="fas fa-home mr-2"></i>
            Home
        </a>
        <a routerLink="hello">
            <i class="fas fa-home mr-2"></i>
            Home
        </a>
        <a routerLink="hello">
            <i class="fas fa-home mr-2"></i>
            Home
        </a>
        <a routerLink="hello">
            <i class="fas fa-home mr-2"></i>
            Home
        </a>
    </div>
</div>