<header class="container py-2">
    <div class="flex items-center justify-between p-2">
        <div class="flex items-center">
            <button class="text-xl" 
                    (click)="toggleSideNav()">
                <i class="fas fa-bars"></i>
            </button>
            <h1 class="text-xl ml-4">E-Shop Analysis</h1>
        </div>

        <div class="flex items-center flex-start font-thin gap-1">
            <div class="flex items-center rounded px-2 py-1">
                <i class="fas fa-bell text-xl"></i>
            </div>
            <div class="flex items-center ml-4 rounded px-2 py-1">
                <i class="fas fa-user text-xl"></i>
            </div>
            <div class="flex items-center ml-4 rounded px-2 py-1">
                <i class="fas fa-search text-xl"></i>
            </div>
        </div>
    </div>
</header>