<header class="container py-2 border-b border-solid border-tailwick-gray-text">
    <div class="flex items-center justify-between p-2">
        <div class="flex items-center">
            <button class="text-xl toggle-btn" 
                    (click)="toggleSideNav()">
                <ion-icon name="toggle-outline"></ion-icon>
            </button>
            <h2 class="header-item ml-4">Dashboard</h2>
            <h2 class="header-item ml-4">Users</h2>
            <h2 class="header-item ml-4">Settings</h2>
        </div>

        <div class="flex items-center justify-start">
           <div class="icon-container">
                <ion-icon name="notifications-outline">
                </ion-icon>
           </div>
           <div class="icon-container">
                <ion-icon name="list-outline">
                </ion-icon>
           </div>
           <div class="icon-container">
                <ion-icon name="document-outline">
                </ion-icon>
           </div>
           <div class="avatar-container">
                <img src="../../../../assets/images/avatar.jpg" alt="">
           </div>
        </div>
    </div>
</header>