<div class="text-tailwick-black-text shadow-tailwick-sm">
  <div class="bg-tailwick-background-light">
    Hello World
    <p class="bg-tailwick-primary-light">From me</p>
  </div>
</div>
<br>
<div class="text-tailwick-gray-text">
  <div class="bg-tailwick-background-dark">
    Hello World
    <p class="bg-tailwick-primary-dark">From me</p>
  </div>
</div>
<br>
<div class="text-rocker-white-text">
  <div class="bg-rocker-background-dark">
    Hello World
    <p class="bg-rocker-primary-dark">From me</p>
  </div>
</div>
<br>
<div class="text-rocker-black-text shadow-rocker-sm">
  <div class="bg-rocker-background-light">
    Hello World
    <p class="bg-rocker-primary-light">From me</p>
  </div>
</div>