<!-- <div class="relative h-full w-[250px]">
  <app-sidenav></app-sidenav>
</div>
<div class="bg-rocker-background-light text-tailwick-black-text shadow-rocker-sm">
  <div class="bg-tailwick-primary-light mb-6">
    <app-header></app-header>    
  </div>
  <div class="container mb-3">
    <h2>eCommerce</h2>
  </div>
  <div class="content">
    <router-outlet>    
    </router-outlet>
  </div>
</div> -->
<div>
  <app-sidenav>
  </app-sidenav>
  <div class="main-content" 
       [class.collapsed]="sideBarCollapsed$ | async">
    <app-header>
    </app-header>
    <router-outlet>
    </router-outlet>
  </div>
</div>
<svg-definitions>
</svg-definitions>