<div class="product-chip">
    <div class="img-container">
        <img src="https://hips.hearstapps.com/hmg-prod/images/kfc-potato-wedges-fries-1591890953.jpg?crop=0.502xw:1.00xh;0,0&resize=1200:*" 
             class="w-full h-auto" style="border-radius: 50%;">
    </div>
    <div class="product-chip-content">
        <h2 class="uppercase font-bold">Product name</h2>
        <p class="text-xs text-tailwick-white-text">Lorem ipsum dolor sit amet consectetur...</p>
        <app-button [iconName]="'trash-outline'"
                    [iconSize]="15">
        </app-button>
        <span class="ribbon">On Sale</span>
    </div>
</div>