.product-card-container {
    box-shadow: 0 0 10px #ddd;
    background-color: #fff;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow .2s linear, transform .2s linear;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 20px #428B46;
        transform: rotateX(10deg);
    }
}

.product-card-upper {
    padding: 0 18px;
    text-align: center;
    img {
        width: 100%;
        height: 180px;
        object-fit: contain;
        mix-blend-mode: multiply;
    }
}

.product-card-action {
    text-align: center;
    background-color: #428B46;
    padding: 20px;
    color: #fff;
}