<div class="product-card-container">
    <img src="https://www.kelloggs.com/content/dam/Asia/kelloggs_in/images/articles/benefits-of-cereal.jpg">
    <!-- <img src="https://www.kelloggs.com/content/dam/Asia/kelloggs_in/images/articles/benefits-of-cereal.jpg"> -->
    <!-- Not effective if have background -->
    <div class="px-4 py-4">
        <p class="mt-4 text-xs text-[#232323] font-light">
            Lorem ipsum dolor sit amet consectetur
        </p>
        <p class="mt-3 uppercase text-[#111] font-bold">1.26$</p>
    </div>
</div>