<div class="container">
    <div class="rounded shadow-rocker-sm bg-tailwick-primary-light p-4 overflow-hidden" style="height: 500px;">
        <div class="flex flex-start flex-col gap-2 md:flex-row md:justify-between md:gap-0">
            <div class="border border-solid rounded-tailwick-sm shadow-rocker-sm p-3 border-tailwick-gray-text" 
                 style="min-width: 300px;">
                <i class="fas fa-search"></i>
            </div>
            <button class="p-2 bg-tailwick-blue-text text-tailwick-primary-light self-start rounded-rocker-sm">
                <i class="fas fa-plus mr-2"></i>
                Add New Order
            </button>
        </div>
        <div class="mt-4">
            <table class="w-full min-w-[800px]">
                <tr class="bg-tailwick-gray-text">
                    <th>Order#</th>
                    <th>Company Name</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Date</th>
                    <th>View Details</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="mr-2">
                        Order#123
                    </td>
                    <td>Gaspur Antunes</td>
                    <td>
                        <span class="text-rocker-primary-light rounded-rocker-sm bg-rocker-gray-text p-2">Fullfilled</span>
                    </td>
                    <td>485.20</td>
                    <td>June 10, 2020</td>
                    <td>
                        <span class="text-rocker-primary-light rounded-rocker-sm bg-rocker-gray-text p-2">View Detail</span>
                    </td>
                    <td>
                        <div class="flex justify-around">
                            <i class="fa fa-trash"></i>
                            <i class="fa fa-trash"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="mr-2">
                        Order#123
                    </td>
                    <td>Gaspur Antunes</td>
                    <td>
                        <span class="text-rocker-primary-light rounded-rocker-sm bg-rocker-gray-text p-2">Fullfilled</span>
                    </td>
                    <td>485.20</td>
                    <td>June 10, 2020</td>
                    <td>
                        <span class="text-rocker-primary-light rounded-rocker-sm bg-rocker-gray-text p-2">View Detail</span>
                    </td>
                    <td>
                        <div class="flex justify-around">
                            <i class="fa fa-trash"></i>
                            <i class="fa fa-trash"></i>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>