.icon-container {
    @apply rounded-[50%] overflow-hidden;
}

.card {
    @apply px-4 py-5 mb-4 bg-[#fff] rounded-[6px] w-full;
}

input[type="text"] {
    @apply w-full px-4 py-2 border-none rounded-[6px] focus:outline-none ;
    &:focus {
        border: 1px solid #C24443 bg-[#f5f5f5];
    }
}

textarea {
    @apply w-full px-2 pt-[2px] pb-[2px] border-none focus:outline-none overflow-hidden; //o-hiddeb to hide scrollbar
    resize: none;
    &:focus {
        // @apply bg-[#f5f5f5];
        border-bottom: 2px solid #121212;
    }
}