/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './app/core/styles/reset';

body {
    @apply font-tailwick;
}

.container {
    // @apply mx-auto;
    // @apply w-[92%];
}

.clear-fix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}